.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 2rem; */
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 10px 6px 30px 8px rgba(214, 200, 177, 0.8);
  border-radius: 2rem;
  -webkit-box-shadow: 10px 6px 30px 8px rgba(214, 200, 177, 0.8);
  -moz-box-shadow: 10px 6px 30px 8px rgba(214, 200, 177, 0.8);
}
